<mat-card class="w-sm">
  <mat-card-content>
    <div class="flex space-x-3">
      <span>
        <img
          class="rounded-full w-12 h-12"
          [src]="employee.image"
          alt="avatar"
        />
      </span>
      <div class="flex-col">
        <div class="flex space-x-2">
          <p>{{ employee.first_name }}</p>
          <p>{{ employee.last_name }}</p>
        </div>
        <p class="font-bold antialiased">
          {{ employee.email }}
        </p>
        <p>SSN: {{ employee.ssn }}</p>
        <p>Gender: {{ employee.gender }}</p>
      </div>
    </div>
    <mat-card-actions class="flex justify-end">
      <button mat-raised-button>
        <a [routerLink]="['employee',employee.id]"> 
            See Detail
        </a>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
